flows.json
[{"id":"d7da773f.8b19a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5aa2ae85.2e9fc","type":"debug","z":"d7da773f.8b19a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"a2e4cba2.94b388","type":"openweathermap","z":"d7da773f.8b19a8","name":"","wtype":"current","lon":"","lat":"","city":"Gdansk","country":"Poland","language":"pl","x":360,"y":400,"wires":[["437d743b.e545bc","c93c5c44.160e2"]]},{"id":"437d743b.e545bc","type":"function","z":"d7da773f.8b19a8","name":"","func":"temp=msg.payload.tempc\nmsg.payload={\"d\":{\"temp\":temp}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":300,"wires":[["5aa2ae85.2e9fc","b28229c1.ade688"]]},{"id":"714e710.3ed6d9","type":"debug","z":"d7da773f.8b19a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":400,"wires":[]},{"id":"e1c90bdf.ad11a8","type":"inject","z":"d7da773f.8b19a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":420,"wires":[["a2e4cba2.94b388"]]},{"id":"c93c5c44.160e2","type":"function","z":"d7da773f.8b19a8","name":"","func":"hum=msg.payload.humidity\nmsg.payload={\"d\":{\"hum\":hum}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":440,"wires":[["714e710.3ed6d9","b1935550.6fe3f8"]]},{"id":"b1935550.6fe3f8","type":"wiotp out","z":"d7da773f.8b19a8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"80a72a16.4e6768","deviceType":"","deviceId":"","event":"pogoda_hum","format":"json","qos":"","name":"","x":890,"y":500,"wires":[]},{"id":"b28229c1.ade688","type":"wiotp out","z":"d7da773f.8b19a8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"80a72a16.4e6768","deviceType":"","deviceId":"","event":"pogoda_temp","format":"json","qos":"","name":"","x":860,"y":200,"wires":[]},{"id":"80a72a16.4e6768","type":"wiotp-credentials","z":"","name":"","org":"a4zasv","serverName":"a4zasv.messaging.internetofthings.ibmcloud.com","devType":"NodeRed","devId":"117766","keepalive":"60","cleansession":true,"tls":"","usetls":false}]